alembic==0.8.9
Babel==2.6.0
decorator==4.4.1
Flask==0.11.1
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.0
Flask-HTTPAuth==3.2.4
Flask-JWT==0.3.2
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.1
Flask-Moment==0.7.0
flask-paginate==0.5.2
flask-restplus==0.12.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
idna==2.8
importlib-metadata==1.5.0
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.16.0
Jinja2==2.8
jsonschema==3.0.1
kombu==4.6.7
lml==0.0.9
Mako==1.0.6
MarkupSafe==0.23
mysqlclient==1.4.2.post1
parso==0.6.1
passlib==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pycparser==2.19
pyecharts-jupyter-installer==0.0.3
Pygments==2.7.4
PyJWT==1.6.4
pyrsistent==0.14.11
python-dateutil==2.8.1
python-editor==1.0.3
pytz==2019.1
requests==2.21.0
six==1.12.0
SQLAlchemy==1.1.4
Werkzeug==0.15.2
WTForms==2.1
